{% extends 'base.html' %}

{% block title %}Create Booking{% endblock %}

{% block content %}
<h1>Create Booking</h1>

<form method="POST" action="">
  {% csrf_token %}
    
  <div class="form-group">
        <label for="product">Select Product</label>
        <select id="product" name="product" class="form-control">
            {% for product in products %}
            <option value="{{ product.id }}" {% if product == selected_product %}selected{% endif %}>{{ product.product_name }} - ${{ product.price }}</option>
            {% endfor %}
        </select>
        {{ form.product.errors }}
  </div>

  <div class="form-group">
        <label for="booking_date">Select Date</label>
        <input type="date" id="booking_date" name="booking_date" class="form-control" required>
        {{ form.booking_date.errors }}
  </div>
  <div class="form-group">
      <div class="form-group">
        <label for="time_slot">Select Time Slot</label>
        {{ form.time_slot }}

        {% if form.time_slot.errors %}
        <div class="error">{{ form.time_slot.errors }}</div>
        {% endif %}
      </div>

  </div>
  <div class="form-group">
      <label for="additional_notes">Additional Notes (Optional)</label>
      <textarea id="additional_notes" name="additional_notes" class="form-control">{{ form.additional_notes.value|default:'' }}</textarea>
      {{ form.additional_notes.errors }}
  </div>

  <button type="submit" class="btn btn-primary">Book & Pay</button>
  
</form>
{% endblock %}
