{% extends 'base.html' %}

{% block title %}
Change Password
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Change Password</h2>
    
    <!-- Check for any form errors -->
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Form for changing password -->
    <form method="post">
        {% csrf_token %}
        <br>
        <div class="form-group">
            <label for="old_password">Old Password</label>
            {{ form.old_password }}
            <input type="checkbox" onclick="togglePassword('id_old_password')"> Show Password
        </div>
        <hr>
<br>
        <div class="form-group">
            <label for="new_password1">New Password</label>
            {{ form.new_password1 }}
            <input type="checkbox" onclick="togglePassword('id_new_password1')"> Show Password
        </div>
<br>
        <div class="form-group">
            <label for="new_password2">Confirm New Password</label>
            {{ form.new_password2 }}
            <input type="checkbox" onclick="togglePassword('id_new_password2')"> Show Password
        </div>
<br>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>

    <a href="{% url 'my_details' %}" class="btn btn-secondary mt-3">Cancel</a>
</div>

{% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}


<script>
function togglePassword(fieldId) {
    var field = document.getElementById(fieldId);
    if (field.type === "password") {
        field.type = "text";
    } else {
        field.type = "password";
    }
}
</script>
{% endblock %}
