{% extends 'base.html' %} 
{% block title %} All Products - My Dermatology Website {%endblock %} 
{% block content %}

<h1>All Products</h1>
<form method="GET" action="{% url 'all_products' %}">
    <div class="input-group mb-3">
        <input type="text" name="q" class="form-control" placeholder="Search products..." value="{{ request.GET.q }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>

<div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="?sort=price_asc{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Price Ascending</a></li>
        <li><a class="dropdown-item" href="?sort=price_desc{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Price Descending</a></li>
        <li><a class="dropdown-item" href="?sort=duration_asc{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Duration Ascending</a></li>
        <li><a class="dropdown-item" href="?sort=duration_desc{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Duration Descending</a></li>
    </ul>
</div>

{% if request.GET.q %}
    <a href="{% url 'all_products' %}" class="btn btn-link mb-3">Back to all products</a>
{% endif %}

{% if products %}
<div class="container">
  <div class="row d-flex flex-wrap justify-content-start">
    {% for product in products %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex">
      <div class="card w-100 d-flex flex-column">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><strong>{{ product.product_name }}</strong></h5>
          <hr>
          <h6>Price: ${{ product.price }}</h6>
          <p>{{ product.duration }} minutes</p>
          <h6>{{product.additional_info}}</h6>
          <a href="{% url 'create_booking' %}?product={{ product.id }}" class="btn btn-primary mt-auto">Book</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% else %}
<p>No products are available.</p>
{% endif %} 

{% endblock %}



