{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ category.name }}</h1>
    {% if products %}
        <ul>
            {% for product in products %}
                <li>
                    <a href="{% url 'product_detail' product.id %}">{{ product.product_name }}</a>
                    - £{{ product.price }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No products available in this category.</p>
    {% endif %}
</div>
{% endblock %}
