body {
  font-family: 'Merriweather', serif;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f5e7e5;
}

#navbar {
  background-color: #e6c2bf !important; 
}

.title1 {
  font-size: 2.5rem; /* Adjust the size as needed */
  text-align: center;
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: green;
}

.user-info-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
}

.user-info-container div {
  display: flex;
  align-items: center; /* Vertically center the <p> inside its container */
}

.user-info-container p {
  border: 0; /* Removes any potential border from the <p> */
  margin: 0; /* Optionally remove default margins */
}

.search-box {
  margin-left: 15px;
}

.main-logo {
    width: 100%;
  height: auto;
  /* max-width: 100%; */
  object-fit: contain;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; */
    border-radius: 10%;
    border: solid 5px #e6c2bf;
}
.welcome_text {
  background-color: #ffc0cb; /* Light pink background */
  color: #4b4b4b; /* Dark gray text */
  padding: 20px;
  border-radius: 15px; /* Rounded edges */
  font-family: 'Arial', sans-serif;
}


.main-logo-div {
  max-width: 700px;
  width: 100%;
  margin: 0 auto; /* This centers the div if it's smaller than the viewport */
  overflow: hidden; /* Prevents overflow content */
}

.home-title {
    text-align: center;
    font-size: 2em;
    color: #1a1b33;
    
}
/*slider on home page*/
.carousel-item img {
    width: 100%; /* Make sure the images fill the width */
    height: 500px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image scales and crops if necessary to fit the height */
}

.carousel-caption {
    color: #1a1b33;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)); /* Fading white background */
    padding: 20px; /* Add padding around the text */
    border-radius: 10px; /* Optional: Rounded corners for a softer look */
}

.carousel-caption h5,
.carousel-caption p {
    color: #1a1b33;
}

#carouselExampleCaptions {
  max-width: 700px;
  width: 100%;
  margin: 0 auto; /* This will center the carousel if it's smaller than the viewport */
  overflow: hidden; /* Prevents any overflow issues */
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the container without being distorted */
}

/* Accordion Section in home.html*/
.accordion {
  max-width: 700px;
  width: 100%;
  margin: 0 auto; /* Centers the accordion */
  overflow: hidden; /* Ensures no overflow */
}

.accordion-body iframe {
  width: 100%; /* Makes the iframe take the full width of the div */
  height: auto; /* Keeps the aspect ratio */
  aspect-ratio: 16/9; /* Sets the aspect ratio of the iframe */
}

.product-info {
  display: flex;
  justify-content: space-between; /* Aligns the elements to the left and right */
  margin-bottom: 10px; /* Adds space between the elements */
  font-size: 0.8em; /* Adjust the font size as needed */
}

h6.product-info {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensures the flex container takes up full width */
}


/* Footer styling */
.footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}

.facebook-icon {
  width: 30px;
  height: 30px;
}
