body {
  font-family: 'Merriweather', serif;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f5e7e5;
}

#navbar {
  background-color: #e6c2bf !important; 
}

.title1 {
  font-size: 2.5rem; 
  text-align: center;
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: green;
}

.user-info-container {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.user-info-container div {
  display: flex;
  align-items: center; 
}

.user-info-container p {
  border: 0; 
  margin: 0; 
}

.search-box {
  margin-left: 15px;
}

.main-logo {
    width: 100%;
  height: auto;
  object-fit: contain;
    border-radius: 10%;
    border: solid 5px #e6c2bf;
}

.welcome_text {
  background-color: #ffc0cb; 
  color: #4b4b4b; 
  padding: 20px;
  border-radius: 15px; 
  font-family: 'Arial', sans-serif;
}

.main-logo-div {
  max-width: 700px;
  width: 100%;
  margin: 0 auto; 
  overflow: hidden; 
}

.home-title {
    text-align: center;
    font-size: 2em;
    color: #1a1b33;
    
}

/*slider on home page*/
.carousel-item img {
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
}

.carousel-caption {
    color: #1a1b33;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)); /* Fading white background */
    padding: 20px; 
    border-radius: 10px; 
}

.carousel-caption h5,
.carousel-caption p {
    color: #1a1b33;
}

#carouselExampleCaptions {
  max-width: 700px;
  width: 100%;
  margin: 0 auto; 
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover; 
}

/* Accordion Section in home.html*/
.accordion {
  max-width: 700px;
  width: 100%;
  margin: 0 auto; 
  overflow: hidden; 
}

.accordion-body iframe {
  width: 100%; 
  height: auto; 
  aspect-ratio: 16/9; 
}

.product-info {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 10px; 
  font-size: 0.8em; 
}

h6.product-info {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

/* Footer styling */
.footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}

.facebook-icon {
  width: 30px;
  height: 30px;
}
