{% extends 'base.html' %} 

{% block title %} 
Home - My Dermatology Website 
{%endblock %} 

{% block content %}
    <h1>Subscribe to Our Newsletter</h1>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Subscribe</button>
    </form>
{% endblock %}